.content-meta {
  margin-top: 0;
  margin-bottom: 0.65rem;
  font-family: var(--codeFont);
  font-size: 0.82rem;
  line-height: 1.35;
  color: color-mix(in oklab, var(--gray) 82%, var(--light));

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
